

body{
    background: whitesmoke;
    font-family: 'Helvetica Neue';
    font-size: 10px;
}

.btn{
    background: #4A90E2;
    margin: 20px;
}

.top-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
