

.app-title {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  font-size: 44px;
  font-style: Condensed bold;
  font-variant: normal;
  font-weight: 150;
  line-height: 30px;
  text-align: left;
  color: #32639c;
}

.app-subtitle {
font-family: "Helvetica Neue";
  font-size: 34px;
  font-style: italic;
  font-variant: normal;
  font-weight: 100;
  line-height: 25px;
  text-align: left;
  color: #32639c;
}

.title-container {
  justify-content: space-evenly;
  padding: 30px;
}