@tailwind base;

@tailwind components;

@tailwind utilities;

.navbar-subtitle {
  font-family: "Helvetica Neue";
    font-size: 30px;
    font-style: italic;
    font-variant: normal;
    font-weight: 100;
    line-height: 50px;
    text-align: center;
    color: #32639c;
}

h5 {
  margin: 10px !important;
}
