

.app-title {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  font-size: 48px;
  font-style: ;
  font-variant: normal;
  font-weight: 150;
  line-height: 30px;
  text-align: center;
  color: #32639c;
}

.app-subtitle {
font-family: "Helvetica Neue";
  font-size: 30px;
  font-style: i;
  font-variant: normal;
  font-weight: 100;
  line-height: 50px;
  text-align: center;
  color: #32639c;
}

.title-container {
  justify-content: space-evenly;
  padding: 30px;
}