.chore-title {
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: i;
  font-variant: normal;
  font-weight: 100;
  line-height: 50px;
  text-align: center;
  color: #32639c;
}

.chore-maintitle {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  font-size: 32px;
  font-style: ;
  font-variant: normal;
  font-weight: 150;
  line-height: 30px;
  text-align: center;
  color: #32639c;
}

.choreListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}
.choreListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #32639c;
  color: #FFF;
  border: 2px solid #32639c;
}
.choreListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.choreListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
}
.choreListMain .theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul.theList {
  padding: 0;
}