.chore-maintitle {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  font-size: 32px;
  font-style: ;
  font-variant: normal;
  font-weight: 150;
  line-height: 30px;
  text-align: center;
  color: #32639c;
}